.blogstory {
  margin: auto;
  margin-top: 150px;
  width: 80%;
}

.blogstory h1 {
  font-weight: bold;
  color: #9e1072;
  margin-bottom: 20px;
  font-size: 25px;
}

.blogstory p {
  margin-bottom: 20px
}

.blogstory .bold {
  color: #9e1072;
}

.writing {
  font-size: 25px;
  font-family: 'Sedgwick Ave';
  color: #9e1072;
}