body {
    background-color: #ffffff;
    width: 80%;
    margin: auto;
    font-size: 17px;
    /*15 */
    /*
    font-family: 'Raleway', sans-serif;
    */
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: #333333;
}

.nowrap {
    white-space: nowrap;
}

.bold {
    font-weight: bold;
}

.navtitle {
    font-size: 22px;
}

.outlineright {
    text-align: justify;
}

.color {
    color: #9e1072;
}

header {
    border-bottom: #9e1072 3px solid;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 80%;
    height: auto;
    z-index: 100;
}

.footerimage {
    float: right;
    width: 50px;
    height: 50px;
}

.dropdown {
    line-height: 0.2;
}

.analyse {
    border-radius: 25px;
    border: 5px solid #9e1072;
    height: 70%;
    width: 70%;
    margin-left: 15%;
}

header li {
    display: inline;
    vertical-align: middle;
    /*padding: 0 20px 0 20px;*/
    padding-left: 10px;
}

header a {
    text-decoration: none;
    font-weight: bold;
    vertical-align: middle;
}

article {
    margin-top: 85px;
    background-color: #ffffff;
    line-height: 1.42857;
}

/*
        <section>
           <img src="img/Foto3.png" alt="Foto3">
            <h2>Verhaal van de orchidee</h2>
            <p>Als nieuweling in het regenwoud had de orchidee geen kans als ze op de bodem was gebleven. Klimmen in de bomen was niet een voor de hand liggende keuze. Er waren heel wat obstakels op de weg naar het licht. Maar de orchidee had twee bijzondere eigenschappen. Ze was flexibel, kon zich aanpassen, zag kansen waar anderen ze niet zagen.</p>
            <a class="button" href="Verhaal-orchidee.html">Lees meer</a>
        </section>
        
        <img class="mainimage" src="img/Foto5.png" alt="Foto5">
        
        <section>
           <img src="img/Foto4.png" alt="Foto4">
            <h2>Cadeaubon</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam suscipit lectus vitae ipsum tincidunt porttitor. Pellentesque vehicula purus sit amet risus tempus ullamcorper. In ut dui iaculis, elementum felis eu, suscipit est. Nullam sit amet lacus id mauris consectetur feugiat. Nunc auctor vestibulum mollis.</p>
            <a class="button" href="Verhaal-orchidee.html">Lees meer</a>
        </section>
*/

#main_nav ul {
    background: white;
    opacity: 1;
    float: left;
    transition: .5s;
}

.video {
    border-radius: 40px; 
}

.leavespace {
    margin-bottom: 2%;
}

#main_nav li {
    float: left;
    position: relative;
    margin-left: 5px;
    list-style: none;

}

.coffieimagestyle {
    margin-bottom: 70%;
}

#subnavtitle {
    width: 200px;
    padding-left: 0px;
}

#main_nav > ul > li > a,

#main_nav a {
    display: block;
    text-align: left;
    text-decoration: none;
    padding: 5px 0px;
    color: #9e1072;
}

#main_nav ul ul {
    position: absolute;
    left: 0;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    background: rgba(255, 255, 255, 0);
}

#main_nav ul ul ul {
    left: 100%;
    top: 0;
}

#nieuwsbrief {
    display: flex;
}

#main_nav li:hover,
#main_nav li:hover li {
    background: #C4C7D9;
}

#main_nav li li:hover,
#main_nav li li:hover li {
    background: #849C6E;
}

#main_nav li li li:hover {
    background: #C4C7D9;
    position: static;
}

#main_nav li:hover > ul {
    visibility: visible;
    opacity: 1;
    background: rgba(255, 255, 255, 0);
}

#C1,
#C2,
#C3,
#C4,
#C5,
#C6,
#C7,
#C8 {
    margin-top: 60px;
    margin-bottom: 3%;
    display: flex;
}

article section {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 2%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

ul.a {
    list-style-type: circle;
    display: grid;
}

a.active {
    text-decoration: underline;
}

.item {
    /* 250*/
    height: 300px;
    width: 300px;
    background-image: url("Backgroundfoto123.png");
    border-radius: 100%;
    float: left;
    margin: 3%;
    margin-left: 5%;
}

.leavespace {
    margin-top: 10px;
}

.coffieimage {
    margin-top: 20px;
    margin-left: 20%;
}

.colorchanger {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #E4E5ED;
}

.colorchangerCoffie {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: #9e1072;
    color: white;
}

a div p {
    margin-top: 35%;
    font-size: 45px;
    font-family: serif;
    text-align: center;
    color: #9e1072;
}

h1 {
    float: left;
}

.mainimage {
    width: 100%;
    height: 400px;
    border-radius: 0px 0px 100px 100px;
}

.aboutimage{
    border-radius: 50px; 
}

.mainimagefreuqentie {
    width: 100%;
}

.massageimages {
    height: 400px;
    width: 400px;
}

.aboutsection {
    margin-top: 10%;
    margin-bottom: 5%;
}

.massagesection {
    margin-top: 10%;
    margin-bottom: 5%;
}


.massagesectionhealy {
    margin-top: 10%;
    margin-bottom: 5%;
    width: 100%;
    display: flex;
}

.massagesectionhealy > div {
    margin-right: 2%;
}

.massagesection > div {
    margin-right: 2%;
}

.subimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 20%;
}

.subimagekado {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20%;
}

section {
    float: none;
}

section img {
    float: left;
    margin-right: 10px;
}

section h2 {
    font-weight: bold;
    color: #940868;
    margin-bottom: 20px;
}

.profileimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 258px;
    height: 369px;
    margin-bottom: 5%;
    border-radius: 50px; 
}

.gezondheid {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

.oliesection {
    margin-bottom: 0%;
}

.gezondheidsection {
    margin-top: 0;
    margin-bottom: 0;
}

.gezondheidsection1 {
    margin-top: 0;
    margin-bottom: 5%;
}

.cursive {
    font-family: cursive;
}

#cursive {
    font-family: 'Calligraffitti', italic;
}

#getuigenis {
    font-size: 30px;
    font-family: 'Calligraffitti', cursive;
}

#therapie {
    font-size: 30px;
    font-family: 'Calligraffitti', cursive;
}

#SLIDER {
    position: relative;
    text-align: center;
    color: #9e1072;
    font-weight: bold;
    
}

.mySlides{
    border-radius: 100px; 
}

#SLIDERFREQUENTIE {
    padding-top: 2%;
    position: relative;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    color: #ffffff;
    display: block;
    background-color: #849C6E;
    border-top: #5B7C37 3px solid;
    line-height: 1.42857;
}

.footerbox {
    float: left;
    padding: 30px;
}

.footertext {
    float: right;
    padding-bottom: 10px;
    margin-top: 250px;
}

.footerbox h3 {
    font-size: 20px;
    padding-bottom: 5px;
    font-weight: bold;
}

.smalltext {
    font-size: 12px;
}

#bold {
    font-weight: bold;
}

#briefemail {
    color: black;
}

footer li {
    padding-top: 5px;
}

.footer {
    width: 80%;
    margin: auto;
}

.tobeimage {
    background: #9e5c62;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.button {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-weight: normal;
    border: 0;
    border-radius: 0;
    background: #940868;
    color: #ffffff;
    margin-top: 15px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
}

ul#social li {
    display: inline;
}

section#maps img {
    float: none;
    margin-left: 95%;
}

section#maps p {
    margin-left: 95%;
}

section#maps h2 {
    margin-top: 20px;
    margin-left: 95%;
}

ul#bimages li {}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    display: inline;
    text-decoration: none;
    border-radius: 30%;
    /*Can be changed*/
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

.fa-facebook {
    background: #3B5998;
    color: #ffffff;
}

.fa-instagram {
    background: #3B5998;
    color: #ffffff;
}

.fa-linkedin {
    background: #007bb5;
    color: #ffffff;
}

ul {
    list-style: none;
    padding: 5px;
}

#up {
    padding-top: 40px;
}

.paginalinks li a {
    color: #940868;
}


.nav-item li a {
    color: #ffffff;
}

.oliedisplay {
    display: flex;
    flex-direction: column;
}

.nav-item ul {
    padding: 20px;
    color: #ffffff;
    background-color: #9e1072;
    border-radius: 20%;
}

.fa-list.modify {
    display: none;
    font-size: 35px;
    position: fixed;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

section.centertext {
    text-align: center;
    font-size: 20px;
}

section.maps {
    margin-top: 10%;
    margin-left: 0;
    margin-right: 5%;
}

ul li a {
    color: #ffffff;
}

p.naam {
    font-size: 40px;
    margin-top: 2%;
    color: #9e1072;
    /*
    font-family: 'Shadows Into Light', cursive;
        */
    font-family: 'Sedgwick Ave', cursive;
}

writing {
    font-family: 'Calligraffitti';
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #9e1072;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #cc1565;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}




.popupdisplay {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    right: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    -webkit-animation-name: fadeIn;
    /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.popupdisplay-content {
    /*
    background: rgba(0,0,0,0.3);
    background-image: url("logo_massages.png");
    background-size: cover;
    */

    position: fixed;
    background-color: #fefefe;
    width: 350px;
    right: 20px;
    top: 200px;
    height: 235px;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    background-color: #E5EAF0;
    opacity: 0.8;
}

.close {
    color: white;
    float: right;
    font-size: 24px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.popupnothanks {
    color: gray;
    float: right;
    font-size: 15px;
    font-weight: bold;
}

.popupnothanks:hover,
.popupnothanks:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.popupdisplay-header {
    padding: 5px 16px;
    background-color: #9e1072;
    color: white;
    text-align: center;
}

.popupdisplay-body {
    padding: 2px 16px;
    text-align: center;
    margin-top: 7px;
}

.popupdisplay-footer {
    padding: 5px 16px;
    background-color: #9e1072;
    color: white;
    margin-bottom: 0px;
    text-align: center;
}

.popupsubmit {
    margin-top: 10px;
    margin-right: 31%;
}

#popupnothanks {
    float: right;
    opacity: 0.5;
}

.popuplogo {
    float: left;
    margin-left: 20px;
}

#popupbriefemail {
    color: black;
    margin-top: 10px;
    width: 100%;
}

@-webkit-keyframes slideIn {
    from {
        right: -200px;
        opacity: 0
    }

    to {
        right: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        right: -200px;
        opacity: 0
    }

    to {
        right: 0;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

strong {
    font-weight: bold;
}






.reiki {
    margin-top: 10%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
}













@media screen and (max-width: 1460px) {
    .popupdisplay-content {
        height: 260px;
    }
}

@media screen and (max-width: 1200px) {
    .popupdisplay-content {
        height: 330px;
    }
}

@media screen and (max-width: 780px) {
    .popupdisplay-content {
        height: 360px;
    }
}

@media screen and (max-width: 1660px) {
    .footertext {
        margin-top: 0px;
        margin-right: 5px;
    }
}

@media screen and (max-width: 1525px) {
    .footer {
        width: 100%;
        margin: auto;
    }

    .footertext {
        margin-top: 250px;
    }

}

@media screen and (max-width: 1335px) {
    .footertext {
        margin-top: 0px;
    }
}

@media screen and (max-width: 1053px) {}

@media screen and (max-width: 1000px) {
    #getuigenis {
        font-size: 100%;
    }

    .massagesection {
        margin-top: 10%;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .massagesectionhealy {
        margin-top: 10%;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .footer {
        width: 100%;
        margin: auto;
    }

}


@media screen and (max-width: 1500px) {
    .item {
        margin: 5%;
        margin-left: 32%;
        margin-right: 2%;
    }

    .massagesection {
        margin-top: 10%;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .massagesectionhealy {
        margin-top: 10%;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
        width: 80%;
    }

}

@media screen and (max-width: 1200px) {

    .popupdisplay-content {
        bottom: 220px;
    }

    .coffieimagestyle {
        margin-bottom: 0%;
    }

    #main_nav li li li:hover {
        position: static;
    }

    #C1,
    #C2,
    #C3,
    #C4,
    #C5,
    #C6,
    #C7,
    #C8 {
        margin-top: 60px;
        margin-bottom: 3%;
        display: block;
    }

    #main_nav {
        display: none;
    }

    #main_nav li:hover > ul {
        position: static;
    }

    #main_nav li {
        float: none;
    }

    #main_nav > ul > li > a,

    #main_nav a {
        margin-left: auto;
        margin-right: auto;

    }

    #main_nav ul {
        float: none;
    }

    .massagesection {
        margin-top: 10%;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
    }

    body {
        line-height: 1.42857;
    }

    .dropdown {
        line-height: 1.42857;
    }

    header {
        width: 80%;
    }

    h1 {
        float: none;
    }

    article section {
        width: 60%;
        margin: auto;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    section img {
        float: none;
    }

    section#maps img {
        float: none;
        margin-left: 0%;
    }

    section#maps p {
        margin-left: 0%;
    }

    section#maps h2 {
        margin-left: 0%;
    }


    .nav {
        display: none;
        width: 100%;
        height: auto;
    }

    ul li {
        width: 100%;
        float: none;
    }

    ul li a {
        width: 100%;
        /*display: block;*/
    }



    ul li ul {
        position: static;
    }

    .fa-list.modify {
        display: block;
    }

    body {
        overflow-x: hidden;
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
    header {
        width: 100%;
    }

    .col-25,
    .col-75,
    input[type=submit] {
        margin-top: 0;
    }

    body {
        line-height: 1.42857;
        width: 100%;
    }

    .dropdown {
        line-height: 1.42857;
    }


    article section {
        width: 90%;
        margin-bottom: 5%;
    }

    .item {
        margin: 10%;
        margin-left: 25%;
        margin-right: 2%;
    }
}
