article section {
  width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 2%;
}

.writing {
  font-size: 25px;
  font-family: 'Sedgwick Ave';
}

section.centertext {
  text-align: center;
  font-size: 20px;
}